body {
  padding: 10px;
  font-family: sans-serif;
}

.boton {
  width:20%;
  margin: 1rem;
}

.boton2{
  margin-top:1rem
}

.divDistrito{
  margin-left: 21rem
}

button {
  margin: 1rem;
}

#logo {
  width: 6%;
  height: 6%;
}

#logoComp {
  width: 40%;
  height: 40%;
}